@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Azure Traning App with ASP.NET Core - Git Coninuous Deployment From Azure Web App</a>.</p>
</div>
